<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">

    <link rel=" icon" href="favicon.jpeg" type="image/png">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet">
</head>
<body>
    <header id="base">
        <header id="cabeçalho"> Header</p>
        <div image id="imagem"></p></div>
        <nav id="navegação">
            <h3>
        </p>
            Mais vendidos</p>
        </p>
            <hr>
            <h3>
        </p>
            Lançamentos</p>
        </p>
            <hr>
            <h3>
        </p>
            Oferta do dia </p>
        </p>
            <hr>
            <h3>
        </p>    
            Monte seu Pc </p>
        </p>
            <hr>
            <h3>
        </p>
        Monitores</p>
        </p>
            <hr>
            <h3>
        </p>
        Notebooks </p>
        </p>
            <h3>
            <hr>
        Favoritos </p>
        </p>
            <hr>
            <h3>
        </p>
        Meus pedidos</p>
        </p>
            <hr>
            <h3>
        </p>
        Mais pesquisados</p>
        </p>
            <h3>
            <hr>
        </p>
        Acabaram de chegar
        </p>
            <h3>
            <hr>
    </nav>
        <main id="primeiro">
            <hr>
            CADEIRAS GAMER</p>
            <section id="section">Cadeira Gamer TGT Heron TX Tecido  </p></section>
            <section id="section02"> Cadeira Gamer X-Rocker</p></section>
            <section id="section03"> Cadeira Gamer-KZIRACER </p></section>  
        </main>
        <footer id="rodape">
        <ul id="institucional">
            <h3>Institucional</h3>
            <Li> Quem somos </li>
            <li>Localização</li>
            <li> Nossa loja</li>
            <li> Blog </Li>
        </ul>
        <ul id="Dúvidas">
            <h3>Dúvidas</h3>
            <li>Entrega</li>
            <li>Garantia</li>
            <li>Como Comprar</li>
            <li>Formas de Pagamento</li>
            <li>Sobre Boletos</li>
        </ul>
        <ul id="Ajuda">
            <h3>Ajuda</h3>
            <li>SAC</li>
            <li>Fale Conosco</li>
            <li>Termos de Aceite</li>
            <li>Políticas de Privacidade</li>
        </ul>
        <ul id="Acessibilidade">
            <h3>Acessibilidade</h3>
            <li>Acessibilidade</li>
        </ul>
        <ul id="Departamentos">
            <h3>Departamentos</h3>
            <li>Periféricos</li>
            <li>Hardware</li>
            <li>Teclado e Mouse</li>
            <li>Placa de Vídeo</li>
        </ul>
        </footer>
    </header>
</body>
</html>